In [148]:
%matplotlib widget
# Imports
import requests
import json
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as st
from scipy.stats import linregress
from collections import Counter

In [149]:
#get csv files
#study data files
single_city = "single_restaurant_data.csv"
multi_city = "multi_restaurant_data.csv"

#set data to data frame
single_df = pd.read_csv(single_city)
multi_df = pd.read_csv(multi_city)

In [150]:
#show multi
#multi_df.head()
multi_df.sort_values(by=['Total Number Ratings',"Rating"] ,inplace=True, ascending = False)
multi_df.head()

,Restaurant ID,Name,Cuisine,Locality,City,Rating,Total Number Ratings,Delivery
100,16577492,Chin Chin,"Thai, Asian Fusion",CBD,Melbourne,4.6,3205,No
101,16573665,The Hardware Societe,"French, Cafe Food, Coffee and Tea",CBD,Melbourne,4.6,2104,No
114,16575238,Mamasita,"Latin American, Mexican",CBD,Melbourne,4.4,1826,No
123,16581005,Top Paddock,"Coffee and Tea, Cafe Food",Richmond,Melbourne,4.5,1474,No
58,16599918,Jamie's Italian,Italian,Perth CBD,Perth,3.8,1473,No

In [151]:
cuisine_list = []
#loop through rows
#get all cuisine types store them in temp list
for index, row in multi_df.iterrows():
    cuiser = row["Cuisine"]
    cuiser = cuiser.split(", ")
    for cuisine in cuiser:
        cuisine_list.append(cuisine)

In [152]:
cuisine_count = dict(Counter(cuisine_list))
cuis_df = pd.DataFrame({"Cuisine Count":cuisine_count})
cuis_df.sort_values(by=['Cuisine Count'], inplace=True, ascending = False)
cuis_df = cuis_df.head(5)
cuis_df

                   Cuisine Count
Cafe Food                     93
Coffee and Tea                84
Japanese                      61
Modern Australian             51
Desserts                      24

In [153]:
cuis_df.plot(kind = "bar",align="center",rot=360)

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [161]:
index_to_drop = []
#loop through all rows of dataset
for index, row in multi_df.iterrows():
    #split the cuisine cell
    cuiser = row["Cuisine"]
    cuiser = cuiser.split(", ")
    cf = False
    #check and get restaurants that serves cafe food then drop all restaurant that doesn't
    for cuisine in cuiser:
        if cuisine == "Cafe Food":
            cf = True
    if cf == False:
        index_to_drop.append(index)
new_multi_df = multi_df.drop(index_to_drop)
new_multi_df.head()

,Restaurant ID,Name,Cuisine,Locality,City,Rating,Total Number Ratings,Delivery
101,16573665,The Hardware Societe,"French, Cafe Food, Coffee and Tea",CBD,Melbourne,4.6,2104,No
123,16581005,Top Paddock,"Coffee and Tea, Cafe Food",Richmond,Melbourne,4.5,1474,No
200,16564875,The Grounds of Alexandria Cafe,"Coffee and Tea, Salad, Poké, Cafe Food","The Grounds of Alexandria, Alexandria",Sydney,4.4,1242,No
158,16577335,Chez Dré,"Cafe Food, Bakery, Patisserie",South Melbourne,Melbourne,4.4,1184,Yes
112,16577214,Manchester Press,"Coffee and Tea, Cafe Food",CBD,Melbourne,4.4,1143,No